body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2::after {
    content: "Cinza";
    font-size: 30px;
    color: white;
}


@media (max-width: 420px) {
    .container {
        background-color: gray;
    }

    h2::after {
        content: "Cinza";
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .container {
        background-color: orange;
    }

    h2::after {
        content: "Laranja";
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        background-color: purple;
    }

    h2::after {
        content: "Roxo";
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .container {
        background-color: red;
    }

    h2::after {
        content: "Vermelho";
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    .container {
        background-color: yellow;
    }

    h2::after {
        content: "Amarelo";
    }
}

@media (min-width: 1921px) {
    .container {
        background-color: green;
    }

    h2::after {
        content: "Verde";
    }
}